.App {
	max-width: 600px;
	border: 1px solid #c6a9a3;
	margin: 0 auto;
	padding: 10px;
	background-color: #c6a9a3;
	border-radius: 10px;
	margin-top: 20px;
}

footer {
	text-transform: capitalize;
	text-align: center;
	margin: 0 auto;
}
