* {
	text-transform: capitalize;
}

h1 {
	font-family: "Lora", serif;
	font-size: 55px;
}

a {
	color: #9a8194;
}

.Weather li {
	list-style: none;
	color: #302f41;
	font-family: "Open Sans", sans-serif;
}

.Weather canvas {
	margin: 5px;
	padding: 5px;
	position: relative;
	right: 0px;
}

.Weather {
	margin: 10px;
	padding: 10px;
}

.Weather .temperature {
	position: relative;
	top: -90px;
	left: 80px;
	font-size: 64px;
}

.units {
	position: relative;
	top: -125px;
	left: 76px;
	margin: 0;
}

.Weather .submit {
	background: #9a8194;
	border: 1px solid #9a8194;
	color: #212529;
}

.submit:hover {
	background: #bda8b8;
	border: 1px solid #bda8b8;
	color: #212529;
}

input.form-control {
	position: relative;
	right: -14px;
	top: -10px;
}

.form-control:focus {
	box-shadow: none;
	border-color: none;
}

input.btn {
	left: 25px;
	position: relative;
	top: -10px;
	height: 40px;
}

div.col-3 {
	padding: 0;
}
