* {
	text-transform: capitalize;
}

.Weather li {
	list-style: none;
	color: #302f41;
}

.Weather canvas {
	margin: 10px;
	padding: 10px;
	position: relative;
	right: 0px;
}

.Weather {
	margin: 10px;
	padding: 10px;
}

.Weather .temperature {
	position: relative;
	top: -110px;
	left: 80px;
	font-size: 64px;
}

.units {
	position: relative;
	top: -143px;
	left: 76px;
	margin: 5px;
}

.submit {
	background: #9a8194;
	border: 1px solid #9a8194;
	color: #212529;
}

.submit:hover {
	background: #bda8b8;
	border: 1px solid #bda8b8;
	color: #212529;
}

input.form-control {
	position: relative;
	right: 5px;
	top: -10px;
}

input.btn {
	position: relative;
	top: -10px;
}
